[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "0.36.2"
setuptools = "56.0.0"
cryptography = "3.4.7"
json2xml = "3.6.0"
requests = "2.25.1"

[dev-packages]
pylint = "2.8.2"
pytest = "6.2.3"

[requires]
python_version = "3.7"
